@font-face {
  font-family: domaine;
  src: url("./../../fonts/FontsFree-Net-DomaineDisplayBold.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.pd-0 {
  padding: 0;
}

header .container {
  padding: 0;
}
header .navbar {
  transition: all 0.5s;
}
header .collapse {
  width: 50%;
}
header .bgcolor {
  height: 80px;
  width: 100%;
}
header .bgcolor.scrolled {
  background-color: white;
  transition: all 0.5s;
}
header .bgcolor.scrolled .logo__fiverr g:first-of-type {
  fill: #62646a;
  transition: all 0.5s;
}
header .bgcolor.scrolled .scroll {
  color: #62646a;
}
header .bgcolor.scrolled .scroll .nav-link:hover {
  color: #19a463 !important;
}
header .bgcolor.scrolled .scroll .btn-nav {
  border-color: #19a463 !important;
  color: #19a463 !important;
}
header .bgcolor.scrolled .scroll .btn-nav:hover {
  color: #ffffff !important;
}
header .bgcolor.scrolled .scroll-green {
  color: #1e1692;
}
header .nav-item {
  position: relative;
}
header .nav-link {
  color: #ffffff;
  font-weight: 700;
  transition: all 0.3s;
}
header .nav-link i {
  font-size: 14px;
}
header .nav-link:hover {
  color: #ffffff !important;
}
header .fiverr__header {
  height: 80px;
  padding: 0;
}
header .explore_sub {
  position: absolute;
  top: 120%;
  left: -270%;
  width: 490px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5px;
}
header .explore_sub a {
  text-decoration: none;
}
header .explore_sub a:hover p, header .explore_sub a:hover span {
  color: #1dbf73 !important;
}
header .explore_sub a p {
  margin: 0;
  color: #62646a;
  font-weight: 500;
}
header .explore_sub a span {
  display: block;
  color: #b5b6ba;
  font-size: 14px;
  font-weight: 500;
}
header .explore_sub li {
  list-style: none;
  width: 44%;
  margin-right: 26px;
  margin-bottom: 16px;
}
header .explore_sub .triangle::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: -3%;
  left: 46%;
  background-color: #ffffff;
  transform: rotate(45deg);
  border-left: 1px solid #e4e5e7;
  border-top: 1px solid #e4e5e7;
}
header .explore_sub .dropdown-item {
  padding: 0;
  white-space: normal;
}
header .explore_sub .dropdown-item:hover {
  background-color: white;
}
header .ticks {
  display: inline;
  padding-right: 16px;
}
header .drop-item {
  width: 224px;
  padding: 16px 0;
}
header .drop-item .pd-46 {
  padding: 9px 58px;
}
header .english__sub .dropdown-menu {
  left: -154%;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}
header .english__sub .dropdown-item {
  color: #62646a;
  font-weight: 500;
}
header .dropdown-toggle::after {
  display: none;
}
header .usd__sub .dropdown-menu {
  left: -300%;
  border-radius: 5px;
}
header .usd__sub .dropdown-item {
  width: 336px;
  height: 350px;
  overflow: auto;
  padding: 0;
}
header .usd__sub .dropdown-item:hover {
  background-color: #ffffff;
}
header .usd__sub .dropdown-item .usd__item:hover {
  background-color: #f5f5f5;
}
header .usd__sub .usd__sub__container {
  padding: 9px 46px;
  position: relative;
}
header .usd__sub .usd__sub__container h6 {
  margin: 0;
  font-weight: 700;
  color: #404145;
}
header .usd__sub .usd__sub__container p {
  margin: 0;
  color: #74767e;
}
header .usd__sub .usd__sub__container .selected-icon {
  position: absolute;
  left: 5%;
  top: 25%;
}
header .nav__search {
  width: 40%;
}
header .nav__search .search__input {
  height: 42px;
  padding: 10px 2px 10px 16px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #c5c6c9;
  width: 90%;
  margin: 0;
}
header .nav__search .search__input:focus-visible {
  outline: none !important;
  border-color: #62646a;
}
header .navbar-collapse {
  flex-grow: 0;
}
header .search__hiden {
  display: block !important;
}

#services {
  padding: 60px 0;
}
#services .services__title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #404145;
}
#services .services__content {
  margin-top: 25px;
}
#services .services__content .item {
  height: 342px;
  width: 255px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 15px;
  cursor: pointer;
}
#services .services__content .item p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0;
}
#services .services__content .item h3 {
  font-size: 1.6rem;
  font-weight: 800;
  color: #ffffff;
}
#services .services__content .item .item--1 {
  background-image: url("./../../images/logo-design-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--1:hover {
  opacity: 0.8;
}
#services .services__content .item .item--2 {
  background-image: url("./../../images/wordpress-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--2:hover {
  opacity: 0.8;
}
#services .services__content .item .item--3 {
  background-image: url("./../../images/voiceover-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--3:hover {
  opacity: 0.8;
}
#services .services__content .item .item--4 {
  background-image: url("./../../images/animated-explainer-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--4:hover {
  opacity: 0.8;
}
#services .services__content .item .item--5 {
  background-image: url("./../../images/social-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--5:hover {
  opacity: 0.8;
}
#services .services__content .item .item--6 {
  background-image: url("./../../images/seo-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--6:hover {
  opacity: 0.8;
}
#services .services__content .item .item--7 {
  background-image: url("./../../images/illustration-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--7:hover {
  opacity: 0.8;
}
#services .services__content .item .item--8 {
  background-image: url("./../../images/translation-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--8:hover {
  opacity: 0.8;
}
#services .services__content .item .item--9 {
  background-image: url("./../../images/data-entry-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--9:hover {
  opacity: 0.8;
}
#services .services__content .item .item--10 {
  background-image: url("./../../images/book-covers-2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}
#services .services__content .item .item--10:hover {
  opacity: 0.8;
}
#services .slick-prev:before {
  content: "";
  display: inline-block;
  background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
  background-size: 16px 64px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
#services .slick-next:before {
  content: "";
  display: inline-block;
  background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
  background-size: 16px 64px;
  background-position: 0 -48px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
#services .slick-arrow {
  width: 50px;
  height: 50px;
  line-height: 12px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
#services .slick-prev {
  z-index: 1;
}

#trusted {
  background-color: #fafafa;
}
#trusted .trusted__content {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#trusted .trusted__content span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #b5b6ba;
}
#trusted .trusted__content ul {
  display: flex;
  margin-top: 15px;
}
#trusted .trusted__content ul li {
  list-style: none;
  margin: 0 35px;
}

#carousel {
  height: 680px;
}
#carousel .slick-next {
  display: none !important;
}
#carousel .caruseol__bg .hero__andrea {
  background-image: url(/images/andrea.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#carousel .caruseol__bg .hero__moon {
  background-image: url(/images/moon.png);
}
#carousel .caruseol__bg .hero__moon .hero__name p::before {
  content: "";
  width: 77px;
  position: absolute;
  bottom: 11%;
  right: 7%;
  display: block;
  height: 17px;
  background-size: 77px;
  background-image: url(/images/five_stars.e5c37f5.svg);
  background-repeat: no-repeat;
}
#carousel .caruseol__bg .hero__ritika {
  background-image: url(/images/ritika.png);
}
#carousel .caruseol__bg .hero__zach {
  background-image: url(/images/zach.png);
}
#carousel .caruseol__bg .hero__grabrielle {
  background-image: url(/images/gabrielle.png);
}
#carousel .caruseol__bg .hero__grabrielle .hero__name p::before {
  content: "";
  width: 77px;
  position: absolute;
  bottom: 11%;
  right: 7%;
  display: block;
  height: 17px;
  background-size: 77px;
  background-image: url(/images/five_stars.e5c37f5.svg);
  background-repeat: no-repeat;
}
#carousel .caruseol__bg .hero__name {
  height: 680px;
  position: relative;
}
#carousel .caruseol__bg .hero__name p {
  color: #ffffff;
  margin-top: auto;
  color: #fff;
  display: inline-block;
  padding-bottom: 32px;
  font-weight: 600;
}
#carousel .carousel__content {
  position: relative;
}
#carousel .carousel__search {
  position: absolute;
  top: 40%;
  left: 13%;
}
#carousel .carousel__search .search__item h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 24px;
}
#carousel .carousel__search .search__item h1 i {
  font-size: 48px;
  color: #ffffff;
  font-weight: 500;
}
#carousel .carousel__search .seach__carsousel {
  width: 650px;
  position: relative;
}
#carousel .carousel__search .seach__carsousel .form-control {
  width: 84%;
  height: 48px;
  padding-left: 44px;
  border-radius: 4px 0 0 4px;
}
#carousel .carousel__search .seach__carsousel .form-control:focus {
  box-shadow: none;
}
#carousel .carousel__search .seach__carsousel i {
  position: absolute;
  left: 3%;
  top: 33%;
  color: #f5f5f5;
}
#carousel .carousel__search .popular {
  margin-top: 24px;
}
#carousel .carousel__search .popular p {
  color: white;
  line-height: 23px;
  margin: 0;
  font-size: 14px;
  margin-right: 5px;
}

#proposition {
  padding: 96px 0;
  background-color: #f1fdf7;
  position: relative;
}
#proposition .proposition__text {
  padding-right: 11%;
}
#proposition .proposition__text h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #404145;
  padding-bottom: 24px;
}
#proposition .proposition__text p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #404145;
  margin-bottom: 8px;
}
#proposition .proposition__text .text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #62646a;
}
#proposition .proposition__text .check-icon {
  margin-right: 10px;
}
#proposition .proposition__text li {
  list-style: none;
  padding-bottom: 24px;
}
#proposition .proposition__vidieo {
  margin: 40px 0;
}

#marketplace {
  margin: 110px 0;
}
#marketplace .title h2 {
  padding-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
  color: #404145;
}
#marketplace .categories-list li {
  width: 20%;
  list-style: none;
  text-align: center;
  padding-bottom: 55px;
}
#marketplace .categories-list li a {
  text-decoration: none;
  color: #222325;
  text-align: center;
  position: relative;
  display: inline-block;
}
#marketplace .categories-list li a img {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 15px;
}
#marketplace .categories-list li > a:hover:after {
  padding: 0 20px 8px;
  border-color: #1dbf73;
}
#marketplace .categories-list li > a:after {
  content: "";
  position: absolute;
  top: 45px;
  right: 50%;
  transform: translateX(50%);
  padding: 0 0 8px;
  width: 48px;
  border-bottom: 2px solid #c5c6c9;
  transition: border-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  box-sizing: content-box;
}

#business {
  padding: 96px 0;
  background-color: #0d084d;
}
#business .business__text h4 {
  margin-bottom: 8px;
  padding-bottom: 32px;
  font-size: 1.6rem;
  font-weight: 800;
  color: #ffffff;
}
#business .business__text h4 p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  display: inline;
}
#business .business__text h4 span {
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  background-color: #584aff;
  border-radius: 20px;
  padding: 2px 6px;
}
#business .business__text h5 {
  padding-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
#business .business__text h5 i {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
#business .business__text .text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
}
#business .business__text ul {
  margin-bottom: 48px;
}
#business .business__text ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 12px;
}
#business .business__text ul li .check-icon {
  margin-right: 10px;
}

#guildes {
  padding: 96px 0;
}
#guildes .col-lg-12 {
  padding: 0 -15px;
}
#guildes h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #404145;
  padding-bottom: 24px;
}
#guildes .see__more {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #446ee7;
}
#guildes .see__more:hover {
  color: #446ee7;
}
#guildes .see__more i {
  font-size: 10px;
}
#guildes .guildes__content {
  margin: 0 -15px;
}
#guildes .guildes__content .guildes__item .col-lg-4 {
  padding: 0 15px;
}
#guildes .guildes__content .guildes__item img {
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 16px;
}
#guildes .guildes__content .guildes__item img:hover {
  opacity: 0.7;
}
#guildes .guildes__content .guildes__item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #404145;
}
#guildes .guildes__content .guildes__item p {
  font-size: 16px;
  font-weight: 500;
  color: #74767e;
}

#testinonials {
  margin: 70px;
}
#testinonials .testi__video video {
  width: 530px;
}
#testinonials .testi__context {
  padding: 35px 44px 0 0;
}
#testinonials .testi__context .testi__name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #74767e;
}
#testinonials .testi__context .testi__logo {
  border-left: 1px solid #404145;
  margin-left: 5px;
}
#testinonials .testi__context .testi__logo img {
  height: 36px;
  display: inline-block;
  margin-left: 5px;
}
#testinonials .testi__context blockquote .quote {
  font-size: 1.8rem;
  font-weight: 500;
  color: #003912;
  font-family: domaine;
  line-height: 30px;
}
#testinonials .slick-prev:before {
  content: "";
  display: inline-block;
  background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
  background-size: 16px 64px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
#testinonials .slick-next:before {
  content: "";
  display: inline-block;
  background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
  background-size: 16px 64px;
  background-position: 0 -48px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
#testinonials .slick-arrow {
  width: 50px;
  height: 50px;
  line-height: 12px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
#testinonials .slick-prev {
  z-index: 1;
}

#logoMaker {
  background: #446ee7;
  position: relative;
  overflow: hidden;
  padding: 20px 60px;
  margin-bottom: 60px;
}
#logoMaker .logoMaker__context {
  position: relative;
  z-index: 1;
}
#logoMaker .logoMaker__context .logoMaker__title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  font-family: domaine;
  margin-top: 10px;
}
#logoMaker .logoMaker__context .logoMaker__title__i {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}
#logoMaker .logoMaker__context p {
  color: #ffffff;
}
#logoMaker .logoMaker__context .logoMaker__btn {
  color: #446ee7;
  font-weight: bold;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
}
#logoMaker .logoMaker__context .logoMaker__btn:hover {
  background-color: #d4defb;
}
#logoMaker .logoMaker__img {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

#projects {
  background-color: #f5f5f5;
  padding: 60px 0;
}
#projects .slick-prev:before {
  content: "";
  display: inline-block;
  background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
  background-size: 16px 64px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
#projects .slick-next:before {
  content: "";
  display: inline-block;
  background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
  background-size: 16px 64px;
  background-position: 0 -48px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}
#projects .slick-arrow {
  width: 50px;
  height: 50px;
  line-height: 12px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}
#projects .slick-prev {
  z-index: 1;
}
#projects .projects__title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #404145;
}
#projects .projects__content .item {
  border-radius: 8px;
  overflow: hidden;
  margin-right: 25px;
  cursor: pointer;
}
#projects .projects__content .item .card {
  width: 300px;
  border: none;
}
#projects .projects__content .item .card-img-top {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}
#projects .projects__content .item .card-img-top:hover {
  opacity: 0.8;
}
#projects .projects__content .item .card-body img {
  border-radius: 50%;
  height: 46px;
}
#projects .projects__content .item .card-body .projects__item__title p {
  font-size: 14px;
  font-weight: 400;
  color: #404145;
  font-family: domaine;
  margin-bottom: 0;
}
#projects .projects__content .item .card-body .projects__author p {
  font-size: 14px;
  font-weight: 600;
  color: #95979d;
}
#projects .container {
  position: relative;
}
#projects .see__more {
  position: absolute;
  top: 12px;
  right: 40px;
}
#projects .see__more span {
  font-weight: 500;
}
#projects .see__more span i {
  margin-left: 5px;
  font-size: 10px;
}
@media only screen and (max-width: 1200px) {
  #projects .see__more {
    position: relative;
    margin-left: 40px;
  }
}

#signup {
  background-image: url("./../../images/bg-signup-1400-x1.png");
  background-position: center;
  background-size: cover;
  padding: 120px 0 120px 100px;
}
#signup .signup__content .signup__context {
  margin-bottom: 40px;
}
#signup .signup__content .signup__context span {
  font-family: domaine;
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 50px;
}
#signup .signup__content .signup__context span .signup__i {
  font-size: 2.8rem;
  font-weight: 400;
  color: #ffffff;
}
#signup .signup__content .signup__button {
  color: #ffffff;
  padding: 13px 30px;
  background-color: #1dbf73;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}
#signup .signup__content .signup__button:hover {
  background-color: #19a463 !important;
}

footer {
  margin-top: 70px;
  border-top: 1px solid #b5b6ba;
}
footer .footer__top {
  padding: 60px 0;
  border-bottom: 1px solid #b5b6ba;
}
footer .footer__top .footer__listTitle {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
footer .footer__top .footer__list {
  list-style: none;
}
footer .footer__top .footer__list li {
  margin: 10px 0;
}
footer .footer__top .footer__list li a {
  font-size: 16px;
  font-weight: 500;
  color: #74767e;
}
footer .footer__top .footer__list li .sub__a {
  font-size: 14px;
  font-weight: 500;
  color: #babbbe;
}
footer .footer__bottom {
  margin-top: 25px;
}
footer .footer__bottom .footer__left .footer__img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 25px;
}
footer .footer__bottom .footer__left span {
  font-size: 14px;
  font-weight: 400;
  color: #b5b6ba;
}
footer .footer__bottom .footer__right .socials li {
  list-style: none;
}
footer .footer__bottom .footer__right .socials li a {
  text-decoration: none;
}
footer .footer__bottom .footer__right .socials li a i {
  font-size: 1.2rem;
  font-weight: 600;
  color: #74767e;
  margin: 0 15px;
  display: block;
  width: 37px;
  text-align: center;
  height: 37px;
  line-height: 37px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.2s;
}
footer .footer__bottom .footer__right .socials li a i:hover {
  background-color: rgba(128, 128, 128, 0.0901960784);
}
footer .footer__bottom .footer__right .settings li {
  list-style: none;
  margin: 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #74767e;
  cursor: pointer;
}
footer .footer__bottom .footer__right .settings li span {
  font-size: 14px;
  font-weight: 600;
  color: #74767e;
  font-weight: 600;
}
footer .footer__bottom .footer__right .settings li .fa-person {
  color: rgba(0, 0, 0, 0.5098039216);
  width: 33px;
  height: 33px;
  line-height: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5098039216);
  border-radius: 50%;
  transition: all 0.2s;
}
footer .footer__bottom .footer__right .settings li .fa-person:hover {
  background-color: rgba(128, 128, 128, 0.0901960784);
  border: 1px solid rgba(128, 128, 128, 0.0901960784);
  color: #000000;
}
footer .footer__bottom .footer__right .hover__gray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 34px;
  border-radius: 15px;
  background-color: #ffffff;
  transition: all 0.2s;
}
footer .footer__bottom .footer__right .hover__gray:hover {
  background-color: rgba(128, 128, 128, 0.0901960784);
  font-weight: 700;
}

.btn-nav {
  padding: 7px 20px;
  font-weight: 800;
  color: #ffffff;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 15px;
  margin: auto 0;
  transition: 0.4s;
  margin-left: 10px;
}
.btn-nav:hover {
  background-color: #1dbf73;
  border-color: #1dbf73;
}

.btn-dark {
  height: 42px;
  width: 50px;
  border-radius: 0 4px 4px 0;
}

.btn-success {
  height: 48px;
  border-radius: 0 4px 4px 0;
  padding: 12px 24px;
  background-color: #1dbf73;
  font-weight: 600;
}
.btn-success:hover {
  background-color: #19a463;
}

.btn-primary {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 1px 12px 0;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #404145;
  border-color: transparent;
}

.btn__business {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1dbf73;
  padding: 10px 24px;
  border-radius: 5px;
  border: transparent 1px solid;
  transition: all 0.3s;
}
.btn__business:hover {
  background-color: #19a463;
}

@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1400px;
  }
}
@media screen and (min-width: 768px) {
  .logo__fiverr g:first-of-type {
    fill: #fff;
  }
}
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media only screen and (max-width: 900px) {
  .popular {
    display: none !important;
  }
  .seach__carsousel form {
    display: block !important;
  }
  .seach__carsousel form input {
    border-radius: 4px !important;
  }
  .seach__carsousel form button {
    width: 84% !important;
    border-radius: 4px !important;
    margin-top: 15px !important;
  }
  .seach__carsousel form i {
    top: 14% !important;
  }
  .hero__name p {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .search__item h1 {
    padding: 0 45px 0 0 !important;
  }
}
@media only screen and (max-width: 676px) {
  .search__item h1 {
    padding: 0 80px 0 0 !important;
  }
  .form-control {
    width: 70% !important;
  }
  .seach__carsousel form button {
    width: 70% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .footer__right {
    margin-top: 15px;
  }
}
@media screen and (max-width: 992px) {
  #logoMaker {
    background-image: url("./../../images/logo-maker-banner-wide-desktop.png") !important;
    background-size: cover;
    background-position: center;
    padding: 60px;
  }
}
@media only screen and (max-width: 1500px) {
  .testi__context {
    padding: 35px 44px 0px 70px !important;
  }
}
@media only screen and (max-width: 1300px) {
  .testi__context {
    padding: 35px 44px 0px 120px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .quote {
    font-size: 1.6rem !important;
  }
  .testi__context {
    padding: 35px 44px 0px 30px !important;
  }
  .testi__video video {
    width: 840px !important;
  }
}
@media only screen and (max-width: 1100px) {
  .testi__video video {
    width: 600px !important;
  }
}
@media only screen and (max-width: 800px) {
  .testi__video video {
    width: 500px !important;
  }
}
@media only screen and (max-width: 992px) {
  .trusted__context {
    display: none;
  }
  .trusted__content ul li {
    margin: 0 15px !important;
  }
}
@media only screen and (max-width: 1400px) {
  .nav__search {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */