*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: $fw-4;
    font-size: 16px;
    line-height: 24px;
}
.pd-0{
    padding: 0;
}