header {
    .container {
        padding: 0;
    }

    .navbar {
        transition: all 0.5s;
    }

    .collapse {
        width: 50%;
    }

    .bgcolor {
        height: 80px;
        width: 100%;
    }

    .bgcolor.scrolled {
        background-color: white;
        transition: all 0.5s;

        .logo__fiverr g:first-of-type {
            fill: $color-gray-6;
            transition: all 0.5s;
        }

        .scroll {
            color: #62646a;

            .nav-link:hover {
                color: $color-green-3 !important;
            }

            .btn-nav {
                border-color: $color-green-3 !important;
                color: $color-green-3 !important;

                &:hover {
                    color: $color-w !important;
                }
            }
        }

        .scroll-green {
            color: #1e1692;
        }
    }

    .nav-item {
        position: relative;
    }

    .nav-link {
        color: $color-w;
        font-weight: $fw-6;
        transition: all 0.3s;

        i {
            font-size: $fs-bt;
        }

        &:hover {
            color: $color-w !important;
        }
    }

    .fiverr__header {
        height: 80px;
        padding: 0;
    }

    .explore_sub {
        position: absolute;
        top: 120%;
        left: -270%;
        width: 490px;
        padding: 24px;
        box-sizing: border-box;
        background-color: $color-w;
        border-radius: 5px;

        a {
            text-decoration: none;

            &:hover p,
            &:hover span {
                color: #1dbf73 !important;
            }

            p {
                margin: 0;
                color: #62646a;
                font-weight: $fw-4;
            }

            span {
                display: block;
                color: #b5b6ba;
                font-size: $fs-bt;
                font-weight: $fw-4;
            }
        }

        li {
            list-style: none;
            width: 44%;
            margin-right: 26px;
            margin-bottom: 16px;
        }

        .triangle::before {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: -3%;
            left: 46%;
            background-color: $color-w;
            transform: rotate(45deg);
            border-left: 1px solid #e4e5e7;
            border-top: 1px solid #e4e5e7;
        }

        .dropdown-item {
            padding: 0;
            white-space: normal;

            &:hover {
                background-color: white;
            }
        }
    }

    .ticks {
        display: inline;
        padding-right: 16px;
    }

    .drop-item {
        width: 224px;
        padding: 16px 0;

        .pd-46 {
            padding: 9px 58px;
        }
    }

    .english__sub {
        .dropdown-menu {
            left: -154%;
            box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%);
        }

        .dropdown-item {
            color: $color-gray-6;
            font-weight: $fw-4;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .usd__sub {

        .dropdown-menu {
            left: -300%;
            border-radius: 5px;
        }

        .dropdown-item {
            width: 336px;
            height: 350px;
            overflow: auto;
            padding: 0;

            &:hover {
                background-color: $color-w;
            }

            .usd__item:hover {
                background-color: $color-gray-4;
            }
        }

        .usd__sub__container {
            padding: 9px 46px;
            position: relative;

            h6 {
                margin: 0;
                font-weight: $fw-6;
                color: $color-black-1;
            }

            p {
                margin: 0;
                color: $color-gray-2;
            }

            .selected-icon {
                position: absolute;
                left: 5%;
                top: 25%;
            }
        }
    }


    .nav__search {
        width: 40%;

        .search__input {
            height: 42px;
            padding: 10px 2px 10px 16px;
            font-size: 16px;
            border-radius: 4px 0 0 4px;
            border: 1px solid #c5c6c9;
            width: 90%;
            margin: 0;

            &:focus-visible {
                outline: none !important;
                border-color: #62646a;
                ;
            }
        }

    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .search__hiden {
        display: block !important;
    }
}