header {
    .container {
        padding: 0;
    }

    .nav-item {
        position: relative;

        .dropdown-toggle {
            &::after {
                display: none !important;
            }
        }
    }

    .nav-link {

        color: $color-w;
        font-weight: $fw-6;

        i {
            font-size: $fs-bt;
        }
    }

    .fiverr__header {
        height: 80px;
        padding: 0;
    }

    .explore_sub {
        position: absolute;
        top: 120%;
        left: -270%;
        width: 490px;
        padding: 24px;
        box-sizing: border-box;
        background-color: $color-w;
        border-radius: 5px;
        box-shadow: 0 3px 5px #b5b6ba;

        a {
            text-decoration: none;

            &:hover p,
            &:hover span {
                color: #1dbf73 !important;
            }

            p {
                margin: 0;
                color: #62646a;
                font-weight: $fw-4;
            }

            span {
                display: block;
                color: #b5b6ba;
                font-size: $fs-bt;
                font-weight: $fw-4;
            }
        }

        li {
            list-style: none;
            width: 44%;
            margin-right: 26px;
            margin-bottom: 16px;
        }

        .triangle::before {
            content: "";
            width: 25px;
            height: 25px;
            position: absolute;
            top: -3%;
            left: 44%;
            background-color: white;
            transform: rotate(45deg);
        }

        .dropdown-item {
            padding: 0;
            white-space: normal;
            &:hover {
                background-color: white;
            }
        }
    }

    .ticks {
        display: inline;
        padding-right: 16px;
    }

    .drop-item{
        width: 224px;
        padding: 16px 0;
        .pd-46{
            padding: 9px 58px;
        }
    }
    .english__sub{
        .dropdown-menu{
            left: -154%;
            box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%);
        }
        .dropdown-item{
            color: $color-g-1;
            font-weight: $fw-6;
        }
    }
}