body {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .81) 17.97%, rgba(0, 0, 0, .31) 57.6%, transparent 77.6%), url(/images/start__selling.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 24px 64px;
    height: 100vh;
    color: white;

    #content {
        margin: auto 0;
        h3 {
            font-size: 40px;
            font-weight: 700;

        }
        .crossbar {
            height: 3px;
            width: 55px;
            background-color: white;
            margin: 40px 0;
        }

        .sub__title {
            h5 {
                font-size: 28px;
                font-weight: 700;
                margin: 0;
            }

            p {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .form-inline {
            width: 572px;
            margin-bottom: 24px;

            .form-control {
                width: 88%;
                border-radius: 8px 0 0 8px;
                height: 45px;
                &:focus{
                    box-shadow:none;
                    border-color: white;
                }
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 1px;
                }
            }

            .btn-search {
                background: #19a463;
                border-radius: 0 8px 8px 0; 
                height: 45px;
                width: 45px;
                &:hover {
                    background-color: #188652;
                }
            }
        }

        .popular_button {
            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 32px;
                margin-right: 12px;
            }

            .btn-popular {
                border: 1px solid #fafafa;
                border-radius: 40px;
                background: rgba(34, 35, 37, .9);
                padding: 3px 12px;
                line-height: 1;
                font-size: 14px;
                height: 27px;
                color: white;
                margin-right: 12px;
            }
        }
    }
}