#testinonials {
    margin: $mg-3;
    .testi__video video {
        width: 530px;
    }

    .testi__context {
        padding: $pd-10 $pd-4 0 0;

        .testi__name {
            @include style-text($fs-2,$fw-4,$color-gray-2);
        }

        .testi__logo {
            border-left: 1px solid $color-black-1;
            margin-left: $mg-1;
            img {
                height: $hei-1;
                display: inline-block;
                margin-left: $mg-1;
            }
        }

        blockquote {   
            .quote {
                @include style-text($fs-7,$fw-4,$color-green-1);
                font-family: domaine;
                line-height: 30px;
            }       
        }
    }

    @include style-arrow;
}

@media only screen and (max-width: 1500px) {
    .testi__context {
        padding: 35px 44px 0px 70px !important;
    }
}

@media only screen and (max-width: 1300px) {
    .testi__context {
        padding: 35px 44px 0px 120px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .quote {
      font-size: $fs-5 !important;
    }

    .testi__context {
        padding: 35px 44px 0px 30px !important;
    }

    .testi__video video {
        width: 840px !important;
    }
}

@media only screen and (max-width: 1100px) {
    .testi__video video {
        width: 600px !important;
    }
}

@media only screen and (max-width: 800px) {
    .testi__video video {
        width: 500px !important;
    }
}
