#trusted {
    background-color: $color-white-2;
    
    .trusted__content {
        padding: $pd-11 0;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            @include style-text($fs-2,$fw-5,$color-gray-1);
        }
    
        ul {
            display: flex;
            margin-top: $mg-6;

            li {
                list-style: none;
                margin: 0 $mg-7;
            }
        }
    }
    
}

@media only screen and (max-width: 992px) {
    .trusted__context {
      display: none;
    }

    .trusted__content ul li {
        margin: 0 $mg-6 !important;
    }
}