@mixin style-text($fs,$fw,$color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin style-background($url) {
    background-image: $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
@mixin btn-style($fs, $fw, $color, $bgcolor) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    background-color: $bgcolor;
}
@mixin style-arrow() {
    .slick-prev:before {
        content: "";
        display: inline-block;
        background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
        background-size: 16px 64px;
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }

    .slick-next:before {
        content: "";
        display: inline-block;
        background: url("./../../images/arrows.a8b0bad.svg") no-repeat;
        background-size: 16px 64px;
        background-position: 0 -48px;
        width: 16px;
        height: 16px;
        margin-top: 3px;
    }

    .slick-arrow {
        width: 50px;
        height: 50px;
        line-height: 12px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
    }

    // .slick-next {
    //     margin-right: $mg-6;
    // }

    .slick-prev {
        // margin-left: -$mg-6;
        z-index: 1;
    }
}