@mixin style-text($fs,$fw,$color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin style-background($url) {
    background-image: $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@mixin style-arrow() {
    .slick-prev:before, .slick-next:before {
        font-size: $fs-9;
        color: $color-black-1;
    }

    .slick-next {
        margin-right: $mg-7;
    }

    .slick-prev {
        margin-left: -$mg-6;
        z-index: 1;
    }
}