@mixin style-text($fs,$fw,$color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin style-background($url) {
    background-image: $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
