//color


//font size
$fs-1: 16px;
$fs-2: 1.2rem;
$fs-3: 1.4rem;
$fs-4: 60px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 1.8px;
$fs-8: 2rem;

//font weight
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 500;
$fw-5: 600;
$fw-6: 700;
$fw-7: 800;
$fw-8: 900;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;
$pd-9: 10px;
$pd-10: 35px;
$pd-11: 20px;
$pd-12: 30px;

//Margin
$mg-1: 5px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: 10px;
$mg-6: 15px;

//border
$bd-1: 2px;
$bd-2: 8px;
$bd-3: 23px;
$bd-4: 15px;
$bd-5: 20px;

