
// color 
$color-w: #ffffff;

// font weight 
$fw-3:300;
$fw-4:400;
$fw-5:500;
$fw-6:600;
$fw-7:700;
 
// font size 

$fs-bt:14px;

//color
$color-black-1 : #404145;
$color-black-2 : #000000;

$color-white-1 : #ffffff;
$color-white-2 : #fafafa;

$color-gray-1 : #b5b6ba;
$color-gray-2 : #74767e;
$color-gray-3 : #95979d;
$color-gray-4 : #f5f5f5;
$color-gray-5 : #babbbe;

$color-green-1 : #003912;
$color-green-2 : #1dbf73;

$color-blue-1 : #446ee7; 

// margin 
$magin-0:0;

//height
$hei-1 : 36px;
$hei-2 : 46px;

//font size$$
$fs-0: 14px;
$fs-1: 16px;
$fs-2: 1.2rem;
$fs-3: 1.4rem;
$fs-4: 60px;
$fs-5: 1.6rem;
$fs-6: 2.5rem;
$fs-7: 1.8rem;
$fs-8: 2rem;
$fs-9: 3.5rem;
$fs-10: 3rem;
$fs-11: 2.8rem;


//font weight
$fw-1: 200;
$fw-2: 300;
$fw-3: 400;
$fw-4: 500;
$fw-5: 600;
$fw-6: 700;
$fw-7: 800;
$fw-8: 900;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;
$pd-9: 10px;
$pd-10: 35px;
$pd-11: 20px;
$pd-12: 30px;
$pd-13: 15px;

//Margin
$mg-1: 5px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;
$mg-5: 10px;
$mg-6: 15px;
$mg-7: 35px;
$mg-8: 40px;

//border
$bd-1: 2px;
$bd-2: 8px;
$bd-3: 23px;
$bd-4: 15px;
$bd-5: 20px;

// Services

